<ol class="name-list">
  <% items.forEach((item) => { %> 
    <li class="name-list-item">
      <span class="name-emphasis"><%= item.name %></span> is a <span class="type-emphasis"><%= item.type %></span>
    </li>
  <% }); %>   
</ol>