<ol class="name-list">
  <% items.forEach((item, id) => { %> 
    <li class="name-list-item">
      <span class="name-emphasis"><%= item.name %></span>
      is a <span class="type-emphasis"><%= item.type %></span>
      <a class="edit-button" href="/dinosaurs/edit/<%= id %> ">Edit</a>
    </li>
  <% }); %>   
</ol>