<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dinos&Creatures</title>
  <link type='text/css' href='/css/styles.css' rel='stylesheet'>
</head>
<body>
  <% include ./partials/header.ejs %>

  <div class="container">

    <%- body %>

  </div>


  <% include ./partials/footer.ejs %>

</body>
</html>