<form action="/prehistoric_creatures" method="GET">
  <label for="typeFilter">Filter by Type</label>
  <input type="text" name="typeFilter" id="typeFilter">
  <input type="submit" value="Filter">
</form>

<% include ../partials/images.ejs %> 