<form class="add-form" method="POST" action="/prehistoric_creatures">
  <label for="itemType">Type</label>
  <input class="medium-input" type="text" name="type" id="itemType" required>
  <br> 
  <label for="itemUrl">Image URL</label>
  <input class="long-input" type="url" name="img_url" id="itemUrl" required>
  <br> 
  <input type="submit">
</form>