<form method="POST" action="/prehistoric_creatures">
  <label for="itemType">Type</label>
  <input type="text" name="type" id="itemType" required>

  <label for="itemUrl">Image URL</label>
  <input type="url" name="img_url" id="itemUrl" required>

  <input type="submit">
</form>