<form class="filter-form" action="/dinosaurs" method="GET">
  <label for="nameFilter">Filter by Name</label>
  <input type="text" name="nameFilter" id="nameFilter">
  <input type="submit" value="Filter">
</form>

<% include ../partials/list.ejs %> 