<form class="add-form" method="POST" action="/dinosaurs">
  <label for="itemType">Type</label>
  <input class="medium-input" type="text" name="type" id="itemType" required>
  <br> 
  <label for="itemName">Name</label>
  <input class="medium-input" type="text" name="name" id="itemName" required>
  <br> 
  <input type="submit">
</form>